.titulo{
    color: #7D2948;
    font-size: 3.75rem;
}

.paragrafo{
    font-size: 1.8rem;
}

.btn-orange{
    background-color: #ED8554;
    color: white;
}

.btn-orange:hover{
    background-color: #a8471a;
    color: white;
    border: none
}
 

.titulo{
    color: #7D2948;
    font-weight: bold;

}

label{
    font-weight: bold;
}

.box-vagas{
    border-radius: 1rem;
    width: 18.75rem;
    margin-top: 60px;
    background-color: #EDE6E6;
}

.header-vagas{
    border-radius: 1rem 1rem 0 0;
    background-color: #7D2948;
    padding: 15px;
    color: white
}

.body-vagas{
    padding: 15px;
}

.text-1{
    font-size: 1.2rem;
}

.text-1-orange{
    color: #ED8554;
}

.title-link-vacancy{
    text-decoration: none;
    color: white;
}

.title-link-vacancy:hover{
    font-weight: bold;
    color: white;
}