{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'company/css/company.css' %}">
{% endblock head %}

{% block content %}
    <div class="wrapper">
        <div class="box"> 
            <div class="header-box">
                {% if messages %}
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <h2 class="titulo">Gerenciar empresas</h2>
                <a class="btn-nova-empresa">Nova empresa</a>
            </div>
            <div class="borda-box"></div>
            <div class="body-box">
            
                <form action="{% url 'show_companys' %}" method="GET">
                    {% csrf_token %}
                <div class="row">
                    
                        <div class="col-md-5">
                            <input type="text" placeholder="Busque pelo nome" class="form-control" name="name">
                        </div>

                        <div class="col-md-4">
                            <select class="form-select" name="technologies">
                                {% for tech in technologies%}
                                    <option value="{{tech.id}}">{{tech}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                    <div class="col-md-3">
                        <input type="submit" value="FILTRAR" class="btn btn-lg btn-orange">
                    </div>
                </div>
                </form>

                <table class="tabela" cellpadding="20">
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Tecnologias usadas</th>
                        <th>Quantidade de vagas</th>
                        <th>Ação</th>
                    </tr>
                        {% for company in companys%}
                        <tr {% if not forloop.counter|is_even %} class="tabela-linha" {% endif %}>
                            <td>{{company.name}}</td>
                            <td>{{company.address}}</td>
                            <td>
                                <select class="form-select">                                    
                                    {% for tech in company.technology.all %}
                                        <option>{{tech}}</option>
                                    {% endfor %}                      
                                </select>
                            </td>
                            <td>
                                {% if company.number_job_vacancies > 0 %}
                                    <img src="{% static 'company/img/green-flag.svg' %}">
                                {% else %}
                                    <img src="{% static 'company/img/red-flag.svg' %}">
                                {% endif %}
                                    &nbsp&nbsp{{ company.number_job_vacancies }} vaga(s)
                            </td>
                            <td>
                                <a href="{% url 'delete_company' company.id %}" class="btn-excluir">Excluir empresa</a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
    </div>

{% endblock%}