{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'company/css/company_details.css' %}" rel="stylesheet">
{% endblock%}


{% block content %}

    
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <br>
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}    
        <div class="row">
            <div class="col-md-3">
                <img width="100%" src="{{company.logo.url}}">
            </div>

            <div class="col-md">
                <h1 class="titulo">{{company.name}}</h1>
                <p class="paragrafo">{{company.address}}</p>
            </div>



        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Nicho de mercado:</label>
                <input disabled type="text" class="form-control" value="{{ company.get_market_category_display }}">
            </div>

            <div class="col-md-3">
                <label>Tecnologias usadas:</label>
                <select class="form-select">
                    {% for tech in company.technology.all %}
                        <option>{{tech}}</option>
                    {% endfor %}   

                </select>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-7">
                <label>Características da empresa:</label>
                <textarea disabled class="form-control">{{company.company_characteristics}}</textarea>
            </div>

            <div class="col-md-3">
                
                
            </div>
        </div>

        <hr>

        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-lg btn-orange">Nova vaga</a>

        <div class="row">
            {% for vacancy in vacancies %}
            <div class="col-md">
        
            <div class="box-vagas">
                <div class="header-vagas">
                    {{vacancy.title}}
                </div>
        
                <div class="body-vagas">
                    <div class="row">
                        <div class="col-md">
                            <label class="paragrafo">Nível:</label>
                            <br>        
                            <label class="paragrafo paragrafo-orange">{{vacancy.get_lvl_experience_display}}</label>                           
                        </div>
        
                        <div class="col-md">
                            <label class="paragrafo">Status <img src="{% static 'company/img/green-flag.svg' %}"></label>
                            <br>        
                            <label class="paragrafo paragrafo-orange">{{vacancy.get_status_display}}</label>                           
                        </div>
        
                    </div>
                </div>
                
            </div>
                
            </div>
        {% endfor %}
        </div>

        <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 style="font-size: 30px" class="modal-title titulo" id="exampleModalLabel">Nova vaga</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'new_vacancy' %}" method="POST">{% csrf_token %}
                        <div class="row">
                            <div class="col-md">
                                <label>Título:</label>
                                <input type="text" name="title" class="form-control" placeholder="Digite o título da vaga...">
                            </div>
    
                            <div class="col-md">
                                <label>Email:</label>
                                <input type="email" name="email" class="form-control" placeholder="email@email.com.br">
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label>Tecnologias que já domino:</label>
                                <select name="technologies_mastered" class="form-select" multiple>
                                    {% for tech in technologies %}
                                        <option value="{{tech.id}}">{{tech}}</option>
                                    {% endfor %}
    
                                </select>
                            </div>
    
                            <div class="col-md">
                                <label>Tecnologias que não domino:</label>
                                <select name="technologies_to_study" class="form-select" multiple>
                                    {% for tech in technologies %}
                                        <option value="{{tech.id}}">{{tech}}</option>
                                    {% endfor %}
    
                                </select>
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label>Nível de experiência:</label>
                                <select name="experience" class="form-select">
                                    <option value="J">Júnior</option>
                                    <option value="P">Pleno</option>
                                    <option value="S">Sênior</option>
                                </select>
                            </div>
    
                            <div class="col-md">
                                <label>Data final:</label>
                                <input type="date" class="form-control" name="final_date"> 
                                
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label>Empresa:</label>
                                <select name="company" class="form-select">
                                    {% for company in companys %}
                                        <option value="{{company.id}}">{{ company.name }}</option>
                                    {% endfor %}                                                                                         
                                </select>
                            </div>
           
                        </div>
    
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label>Status:</label>
                                <select name="status" class="form-select">     
                                    <option value="I">Interesse</option>
                                    <option value="C">Currículo enviado</option>    
                                    <option value="E">Entrevista</option>    
                                    <option value="D">Desafio técnico</option>    
                                    <option value="F">Finalizado</option>          
                                </select>
                            </div>
           
                        </div>
                        <br>
                        <input type="submit" value="Nova vaga" class="btn btn-lg btn-orange">
    
                    </form>
                </div>
               
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

{% endblock %}